
.App {
  text-align: center;
  font-family: "Open Sans";
  font-size: calc(15px + 2vmin);
  background-color: #f2ccbf;
  min-height: 100vh;
}

.Game {
  background-color: #f2ccbf;
}

.TopMenu {
  background-color:  #f2ccbf;
  opacity: 30;
}

#menu-btn button{
  background-color: #edbdd0;
  outline: 5px, solid, #e37759;
}

#log-btn {
  background-color: #edbdd0;
  outline: 5px, solid, #e37759;
}

#sign-btn {
  background-color: #edbdd0;
  outline: 5px, solid, #e37759;
}

#logo {
 padding: 20px;
}

#welcome {
  text-align: right;
  padding: 20px
}

h1 span {
  display:inline;
  border-radius: 20px;
  margin: 5px;
  text-transform: uppercase;
}


