
.App {
  text-align: center;
  font-family: "Open Sans";
  font-size: calc(15px + 2vmin);
  background-color: #ffc5b2;
  min-height: 100vh;
}

body > div,
      body > div > div,
      body > div > div > div.login-form {
        height: 100%;
        background-color: #ffc5b2;
      }


.Game {
  background-color: #ffc5b2;
}

.TopMenu {
  background-color:  #ffc5b2;
  opacity: 30;
}

#menu-btn button{
  background-color: #f0a7e8;
}

#log-btn {
  background-color: #f0a7e8;
}

#sign-btn {
  background-color: #f0a7e8;
}

#game-enter-btn {
  background-color: #f0a7e8;
}

#game-play-btn {
  background-color: #ff3d02;
}

#game-instructions-btn {
  background-color: #6b09b7;
}

#score-table {
  background-color: #ffc5b2;
}

#postgame {
  background-color: #ffc5b2;
}
#logo {
 padding: 20px;
}

#welcome {
  text-align: right;
  padding: 20px
}

#play-char {
  display:inline;
  border-radius: 20px;
  margin: 5px;
  text-transform: uppercase;
}


